body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
    border: 1px solid lightgrey;
}

.message-info {
    background-color: rgb(203,220,251);
    color: rgb(68, 65, 162);
}

.message-success {
    background-color: rgb(208,242,219);
    color: rgb(78,146,104);
}

.message-warning {
    background-color: rgb(252,250,203);
    color: rgb(165,150,73);
}

.message-error {
    background-color: rgb(249,211,215);
    color: rgb(158,68,89);
}