.idea/*
*.iml
secret.txt
bbc-404.html
Bootstrap_grid_layout.html
bs_practice.html
grids-practice.html
JS_test.html
notes
semantic_warmup.html
texas_flag.html
img/404_error.png
css/texas_flag.css
css/site.css
css/grids-practice.css
css/bbc-404.css
img/bar1.png
img/bar2.png
img/profile.png